body{
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 38px;
    font-size: 25px;
    /* text-align: center;
    list-style: none; */
}

.flecha{
    width: 64px;
    display: flex;
}